body {
    line-height: 2;
    font-family: "Microsoft YaHei",Tahoma,Verdana,Arial,sans-serif;   
}
.error-msg{
    color:#ff0000;
}

.login.box{
    border-radius: 10px;
    position: absolute;
    width:340px;
    height: 120px;
    top:50%;
    left:50%;
    margin-left:-170px;
    margin-top:-60px;
}

.login{
    input{
        outline:none;
        display: inline-block;
        width:300px;
        line-height:28px;
        padding:5px 5px 5px 13px;
        margin:8px 20px;
    }
    input[type=text]{
        font-size:14px;  
        border:1px solid #ccc;
    }
    input[type=submit]{
        background-color: #FF9A14;
        text-align:center;
        border-radius: 4px;
        cursor: pointer;
        color:white;
        font-size:16px;
        border:0;
    }
    input[type=submit]:hover{
        background-color: #CC7B10;
    }
}

header{
    width:100%;
    background-color: #2577e3;
    font-size:15px;
    line-height: 40px;
    height:40px;
    color:white;
    nav{
        list-style: none;
        display:flex;
        justify-content: space-between;
        li:hover{
            background-color: #0a56bb;
        }
        li{
            transition: background-color 1s ease;
            cursor: pointer;
        }
        li:last-of-type{
            background: #ff9913 url(//pic.c-ctrip.com/platform/online/home/un_header_footer20160610.png) no-repeat -59px -169px;
            width:128px;
            padding:0 5px 0 27px;
            .logout{
                float: right;
            }
        }
    }
}

.container{
    display: flex;
    aside{
        width:220px;
    }
    main{
        flex:1;
    }
}

header nav,.container,footer{
    width:1180px;
    margin: 0 auto;
}